---
import type { BusType } from '@/env'
import { Icon } from '../Icon'

interface Props {
	busType: BusType
}

const { busType } = Astro.props
const { capacity, tags, icon: TypeIcon, title, darkColor } = busType
---

<!-- Como esta card solo se muestra en tema oscuro, no hace falta especificar el dark: -->

<article
	class='hidden dark:flex w-full max-w-160 h-full p-6 flex-col items-center gap-5 bg-gray-700/50 text-gray-100 text-sm rounded-xl'
>
	<div class='w-full h-fit flex items-center justify-center'>
		<Icon class='size-10' style={{ color: darkColor }}>
			<TypeIcon />
		</Icon>
	</div>
	<div class='flex flex-col items-center'>
		<h1 class='text-lg font-bold uppercase text-center pb-2'>
			{title}
		</h1>
		<p class='text-center text-gray-300'>
			Capacidad para {capacity} personas
		</p>
	</div>
	<div class='w-full h-fit px-4'>
		<div class='w-full flex flex-wrap justify-center gap-1'>
			{ tags.map(({ tag, title }) => (
					<span
						title={title}
						class='text-xs bg-white dark:bg-gray-500/50 px-2 p-1 rounded md:flex-auto text-center cursor-default'
					>
						{tag}
					</span>
			)) }
		</div>
	</div>
</article>