---
import type { BusType } from '@/env'
import { Icon } from '../Icon'

interface Props {
	busType: BusType
}

const { busType } = Astro.props
const { description, details, icon: TypeIcon, title, darkColor } = busType
---

<!-- Como esta card solo se muestra en tema oscuro, no hace falta especificar el dark: -->

<article
	class='hidden dark:flex w-full max-w-160 h-full p-6 flex-col items-center gap-5 bg-gray-700/50 text-gray-100 text-sm rounded-xl'
>
	<div class='w-full h-fit flex items-center justify-center'>
		<Icon class='size-10' style={{ color: darkColor }}>
			<TypeIcon />
		</Icon>
	</div>
	<div class='flex flex-col items-center'>
		<h1 class='text-lg font-bold uppercase text-center pb-2'>
			{title}
		</h1>
		<p class='text-center text-gray-300'>
			{description}
		</p>
	</div>
	<div class='w-full h-fit px-4'>
		<ul class='list-disc flex flex-col items-center w-full gap-2'>
			{ details.map((detail) => (
					<li class='list-none text-center flex items-center justify-start gap-2'>
						<div class='size-2 opacity-60 rounded-full' />
						{detail}
					</li>
			)) }
		</ul>
	</div>
</article>