---
import type { BusType } from '@/env'
import { Icon } from '../Icon'

interface Props {
	busType: BusType
}

const { busType } = Astro.props
const { bgColor: backgroundColor, borderColor, capacity, tags, icon: TypeIcon, mainColor: color, title } = busType
---

<article
	class='dark:hidden w-full max-w-160 h-full p-6 flex flex-col items-center gap-5 bg-white border text-gray-700 text-sm rounded-xl'
	style={{ borderColor, backgroundColor }}
>
	<div class='w-full h-fit flex items-center justify-center'>
		<Icon class='size-10' style={{ color }}>
			<TypeIcon />
		</Icon>
	</div>
	<div class='flex flex-col items-center'>
		<h1
			class='text-lg font-bold uppercase text-center pb-2'
			style={{ color }}
		>
			{title}
		</h1>
		<p
			class='text-center opacity-80'
			style={{ color }}
		>
			Capacidad para {capacity} personas
		</p>
	</div>
	<div class='w-full h-fit px-4'>
		<div class='w-full flex flex-wrap justify-center gap-1'>
			{ tags.map(({ tag, title }) => (
					<span
						title={title}
						class='text-xs bg-white px-2 p-1 rounded md:flex-auto text-center cursor-default'
						style={{ color }}
					>
						{tag}
					</span>
			)) }
		</div>
	</div>
</article>