---
import LayoutSimple from '@/layouts/LayoutSimple.astro';
---

<LayoutSimple title='Política de Privacidad' class='max-w-screen-lg mx-auto w-full xs:px-10 px-6'>
  <section class='flex flex-col items-center h-fit w-full max-w-screen-2xl gap-4 py-8 px-6'>
    <h1 class='text-2xl font-bold text-center'>Política de Privacidad</h1>
    <p>Fecha de última actualización: 12 de Octubre de 2025</p>
  </section>
  <section class='flex flex-col items-center h-fit w-full max-w-screen-2xl gap-4 py-8 px-6'>
    <h1 class='text-xl font-bold text-center'>1. Introducción y Responsable del Tratamiento</h1>
    <p>La presente Política de Privacidad describe cómo Berrutti Turismo (en adelante, "la Plataforma" o "nosotros") recopila, utiliza y protege los datos personales de sus usuarios. Estamos comprometidos con la protección de tu privacidad y el cumplimiento de la Ley N.º 18.331 de Protección de Datos Personales de la República Oriental del Uruguay.
    </p>
    <p>Responsable del Tratamiento: Berrutti Turismo. Contacto: [berruttiturismo@adinet.com.uy]</p>
  </section>
  <section class='flex flex-col items-center h-fit w-full max-w-screen-2xl gap-4 py-8 px-6'>
    <h1 class='text-xl font-bold text-center'>2. Tipos de Cookies Utilizadas (No Necesitan Consentimiento Explícito)</h1>
    <p>Recopilamos datos personales solo cuando son estrictamente necesarios para prestar nuestros servicios de reserva y seguimiento de transporte.</p>
    <ul>
      <li class='list-disc list-inside'>Datos de Registro (al crear una cuenta): Nombre completo, Dirección de correo electrónico, Contraseña (almacenada en formato cifrado/hash).</li>
      <li class='list-disc list-inside'>Datos de Uso del Servicio: Historial de reservas (simuladas) y actividad dentro de la Plataforma.</li>
    </ul>
  </section>
  <section class='flex flex-col items-center h-fit w-full max-w-screen-2xl gap-4 py-8 px-6'>
    <h1 class='text-xl font-bold text-center'>3. Finalidad del Tratamiento de Datos</h1>
    <p>Utilizamos los datos personales con las siguientes finalidades:</p>
    <ul>
      <li class='list-disc list-inside'>Gestión del Servicio Permitir el acceso a las funciones de reserva y seguimiento de buses.</li>
      <li class='list-disc list-inside'>Autenticación Verificar la identidad del usuario y mantener la sesión activa (a través de cookies técnicas).</li>
      <li class='list-disc list-inside'>Comunicaciones Enviar notificaciones relacionadas con el estado de las rutas o la cuenta.</li>
    </ul>
  </section>
  <section class='flex flex-col items-center h-fit w-full max-w-screen-2xl gap-4 py-8 px-6'>
    <h1 class='text-xl font-bold text-center'>4. Derechos del Usuario (Habeas Data)</h1>
    <p>De acuerdo con la legislación uruguaya, tienes derecho a:</p>
    <ul>
      <li class='list-disc list-inside'>Acceso: Solicitar una copia de los datos que tenemos sobre ti.</li>
      <li class='list-disc list-inside'>Rectificación: Solicitar la corrección de datos incompletos o inexactos.</li>
      <li class='list-disc list-inside'>Supresión (Cancelación): Solicitar la eliminación de tus datos personales cuando ya no sean necesarios para los fines que fueron recolectados.</li>
    </ul>
    <p>Puedes ejercer estos derechos contactándonos a través del correo electrónico mencionado anteriormente.</p>
  </section>
  <section class='flex flex-col items-center h-fit w-full max-w-screen-2xl gap-4 py-8 px-6'>
    <h1 class='text-xl font-bold text-center'>5. Cookies</h1>
    <p>La Plataforma utiliza únicamente cookies técnicas y de personalización para el correcto funcionamiento. Para más detalles, consulta nuestro <a href='/legal/cookies' class='text-center text-gray-400 underline'>Aviso sobre el uso de cookies</a>.</p>
  </section>
</LayoutSimple>