@import 'tailwindcss';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --breakpoint-ml: 896px;
  --breakpoint-xs: 512px;
  --breakpoint-xxs: 416px;

  --container-navbar: 80px;
  --container-sidebar: 288px;

  --spacing-navbar: 80px;
  --spacing-sidebar: 288px;
}

@custom-variant touch {
  @media (pointer: coarse) {
    @slot;
  }
}

@custom-variant mobile {
  &:where(.is-mobile-ua *) {
    @slot;
  }
}

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}