@import 'tailwindcss';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --breakpoint-ml: 896px;
  --breakpoint-xs: 512px;
  --breakpoint-xxs: 416px; /* extreme-slim */
  --breakpoint-us: 359px; /* ultra-slim */

  --container-navbar: 80px;
  --container-sidebar: 288px;

  --spacing-navbar: 80px;
  --spacing-sidebar: 288px;

  --color-orange-600-light: #F65C1A;

  /* Para los formularios de login y registro */
  --breakpoint-lfw: 400px; /* login-form-width */
  --spacing-lfw: 400px; /* login-form-height */
  --spacing-lfh: 460px; /* login-form-height */
}

@custom-variant touch {
  @media (pointer: coarse) {
    @slot;
  }
}

@custom-variant mobile {
  &:where(.is-mobile-ua *) {
    @slot;
  }
}

@custom-variant sidebar-open {
  &:where([data-sidebar-open=checked] *) {
    @slot;
  }
}

@variant dark {
  &:where([data-theme=dark] *) {
    @slot;
  }

  &:where([data-theme=system] *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

:root {
  color-scheme: light;
  
  &[data-theme=dark] {
    color-scheme: dark;
  }

  &[data-theme=system] {
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  min-height: fit-content;
}

h1,
h2,
h3
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.loading {
  position: relative;

  & > div {
    height: 1000%;
    width: 48px;
    background: #fffa;
    top: 50%;
    transform: translateY(-50%) rotateZ(69deg);
    left: -200%;
    animation: loading-animation 4s ease infinite forwards;
    position: absolute;
    mask-image: linear-gradient(
      to right,
      transparent,
      #000a 90%,
      transparent
    );
  }
}

#contact-message-textarea {
  max-height: 6em;
  max-height: 6lh;
  min-height: 6em;
  min-height: 6lh;
}

@keyframes loading-animation {
  66%, 100% {
    left: 200%;
    /* transform: translate(100%, -50%) rotateZ(45deg); */
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    /* no hace falta el important, pero por si acaso que quede */
    transition-duration: 0ms !important;
  }
}