---
import { Icon } from '@/components/Icon'
import { IconArrowLeft } from '@/components/Icons'
import { HeaderInfo } from '@/components/tracking/HeaderInfo'
import type { BusesData } from '@/env'

interface Props {
  busesData: BusesData
}

const { busesData } = Astro.props
---

<header class='w-full h-16 z-10 relative border-b-gray-200 border-b-[1px] px-8 pl-4 bg-white text-gray-700 top-0 left-0 flex justify-between items-center [&_.icon]:max-h-10'>
  <aside class='flex items-center gap-2'>
    <a
      href='/'
      class='flex text-sm font-semibold cursor-pointer items-center justify-center max-h-full h-fit w-fit p-3 px-4 hover:bg-gray-200 touch:active:bg-gray-200 transition-colors gap-2 rounded-lg bg-white'
    >
      <Icon class='size-5'>
        <IconArrowLeft />
      </Icon>
      <span>Volver</span>
    </a>
    <h1 class='font-bold text-lg not-md:hidden text-nowrap min-w-fit'>Seguimiento a tiempo real</h1>
  </aside>
  <HeaderInfo busesData={busesData} client:idle />
</header>