---
import { LoginForm } from '@/components/forms/LoginForm'
import { ThemeSelector } from '@/components/ThemeSelector'
import LayoutSimple from '@/layouts/LayoutSimple.astro'
---

<LayoutSimple title='Iniciar Sesión'>
  <section class='flex items-center h-[calc(100dvh-80px)]'>
    <LoginForm client:load />
    <div class='fixed right-4 bottom-4'>
      <ThemeSelector client:load />
    </div>
  </section>
</LayoutSimple>