---
import { LoginForm } from '@/components/forms/LoginForm'
import LayoutSimple from '@/layouts/LayoutSimple.astro'
---

<LayoutSimple title='Iniciar Sesión'>
  <section class='flex items-center h-[calc(100dvh-80px)] min-h-fit lfw:w-lfw w-full'>
    <LoginForm client:load />
  </section>
</LayoutSimple>