---
import LayoutSimple from '@/layouts/LayoutSimple.astro'
import { getUserData } from '@/services/userService'
import { LogoutButton } from '@/components/user/LogoutButton'
import { SESSION_COOKIE_NAME } from '@/lib/constants'

const token = Astro.cookies.get(SESSION_COOKIE_NAME)
if (!token) return Astro.redirect('/')

const user = await getUserData(token.value)

if (!user) return Astro.redirect('/')
const { document, fullName, password, role, mail, tel } = user

const roles = {
  'client': 'Cliente',
  'admin': 'Administrador',
  'driver': 'Conductor'
}
---

<LayoutSimple title='Usuario'>
  <section class='flex items-center h-[calc(100dvh-80px)] min-h-fit lfw:w-lfw w-full'>
    <article class='h-fit w-100 rounded-xl flex flex-col items-center gap-8 p-4 py-12 border border-gray-300 bg-white dark:border-0 dark:bg-gray-700/50'>
      <div class='flex flex-col items-center gap-2'>
        <h1 class='text-2xl font-bold'>{fullName}</h1>
        <h2 class='text-xl font-semibold'>{document}</h2>
      </div>
      <div class='flex flex-col items-center gap-2'>
        <strong>Detalles de la cuenta</strong>
        <p>{roles[role]}</p>
        <p>{mail || tel}</p>
        <p>••••••</p>
      </div>
      <div class='flex flex-col items-center gap-2'>
        <strong>Acciones</strong>
        <a
          href='/driver'
          class='text-nowrap rounded-lg p-2 px-4 hover:bg-orange-50 dark:hover:bg-gray-700 touch:active:bg-orange-50 dark:touch:active:bg-gray-700 text-orange-500 hover:text-gray-800 dark:hover:text-orange-50 dark:touch:active:text-orange-50 touch:active:text-gray-800 transition-colors border-orange-500 dark:hover:border-orange-50 dark:touch:active:border-orange-50 border cursor-pointer'
          hidden={role !== 'driver' && role !== 'admin'}
        >
          Ir a la página del conductor
        </a>
        <LogoutButton client:load />
      </div>
    </article>
  </section>
</LayoutSimple>