---
import { RegisterForm } from '@/components/forms/RegisterForm'
import LayoutSimple from '@/layouts/LayoutSimple.astro'
import { SESSION_COOKIE_NAME } from '@/lib/constants'

const hasSession = Astro.cookies.has(SESSION_COOKIE_NAME)
if (hasSession) return Astro.redirect('/me', 302)
---

<LayoutSimple title='Registrarse'>
  <section class='flex items-center h-[calc(100dvh-80px)] min-h-fit lfw:w-lfw w-full'>
    <RegisterForm client:load />
  </section>
</LayoutSimple>