---
import VaulDrawer from '@/components/Drawer'
import '@/styles/global.css'
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.webp' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content='Web no oficial de Berrutti Turismo. Proyecto de fin de año' />
		<script src='../lib/detectDeviceType.js'></script>
	</head>
  <body>
    <VaulDrawer client:load />
  </body>
</html>

<style>
  :root {
    color-scheme: dark;
  }
</style>