---
// import VaulDrawer from '@/components/Drawer'
import '../styles/water-dark.css'
import { DriverDashboard } from '@/components/DriverDashboard'
import { SimpleHttpRouteRecorder } from '@/components/RouteRecorderHttp'
import '@/styles/global.css'
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.webp' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content='Web no oficial de Berrutti Turismo. Proyecto de fin de año' />
		<title>Pruebas</title>
	</head>
  <body>
    <!-- <VaulDrawer client:load /> -->
		 <DriverDashboard client:only='preact' />
			<!-- <SimpleHttpRouteRecorder client:only='preact' /> -->
  </body>
</html>

<style>
  /* :root {
    color-scheme: dark;
  } */
</style>