---
import { ContactViaPhone } from '@/components/ContactViaPhone'
import { Icon } from '@/components/Icon'
import { IconBus, IconMail } from '@/components/Icons'
import { ThemeSelector } from './ThemeSelector'

---

<footer class='w-full h-fit min-h-fit py-8 text-white bg-gray-800 dark:bg-gray-700/50 flex flex-col items-center justify-center gap-2'>
  <div class='flex items-center justify-center gap-2'>
    <Icon class='size-6 text-orange-500'>
      <IconBus />
    </Icon>
    <strong class='text-xl leading-8'>Berrutti</strong>
  </div>
  <div class='flex gap-4 items-center justify-center min-w-fit'>
    <ContactViaPhone client:idle />
    <ThemeSelector
      buttonClass='text-white dark:text-white hover:bg-white hover:text-gray-700 touch:active:bg-white touch:active:text-gray-700 font-normal px-4 gap-2'
      listClass='bottom-13 right-0'
      client:idle
    />
  </div>
  <a
    href='mailto:berruttiturismo@adinet.com.uy'
    target='_blank'
    class='flex items-center justify-center w-fit max-w-[calc(100%-32px)] h-fit gap-2 text-blue-400 visited:text-violet-400 underline-offset-2 hover:underline touch:active:underline px-4 py-1 -my-1'
  >
    <Icon class='size-4'>
      <IconMail />
    </Icon>
    <span class='line-clamp-1 overflow-ellipsis max-w-full'>
      berruttiturismo@adinet.com.uy
    </span>
  </a>
  <div class='flex flex-col md:flex-row gap-x-4 justify-center my-3'>
    <a href='/legal/privacy-policy' class='text-center text-gray-400 underline'>Política de Privacidad</a>
    <a href='/legal/terms-and-conditions' class='text-center text-gray-400 underline'>Términos y Condiciones</a>
    <a href='/legal/cookies' class='text-center text-gray-400 underline'>Aviso sobre el uso de cookies</a>
  </div>
  <p class='opacity-70 text-sm'>&copy; 2025 Berrutti Turismo. Todos los derechos reservados.</p>
</footer>