---
import { Icon } from './Icon'
import { IconBus, IconMenu } from './Icons'
import { links } from '@/lib/utils'
import { UserLinks } from './user/UserLinks'

interface Props { 
  pathname: string
}

const { pathname } = Astro.props
---

<header class='w-full h-navbar px-8 pl-4 bg-white dark:bg-transparent text-gray-700 dark:text-gray-100 flex justify-center items-center'>
  <div class='h-full w-full max-w-screen-2xl flex items-center ml:justify-center justify-between'>
    <aside class='h-full w-fit not-xl:flex-1 flex items-center'>
      <a href='/' class='h-fit max-h-full w-fit p-2 px-4 flex items-center justify-center gap-4 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700 touch:active:bg-gray-200 dark:touch:active:bg-gray-700 transition-colors'>
        <Icon class='size-8 text-orange-500'>
          <IconBus />
        </Icon>
        <strong class='text-nowrap text-xl w-fit max-w-full'>Berrutti</strong>
      </a>
    </aside>
    <nav class='h-full w-full flex-1 hidden lg:flex items-center justify-center px-4'>
      {
        links.map(({ link, name }) => (
          <a
            href={link}
            class='hover:text-orange-500 touch:active:text-orange-500 transition-colors p-2 px-3 w-fit min-w-fit'
          >
            <span class={link === pathname ? 'text-orange-500' : ''}>
              {name}
            </span>
          </a>
        ))
      }
    </nav>
    <aside class='h-full w-fit not-xl:flex-1 flex items-center justify-end gap-2'>
      <UserLinks display='horizontal' />
      <label
        for='input-global-sidebar'
        class='xl:hidden h-fit w-fit p-2 aspect-square min-h-10 hover:bg-gray-200 dark:hover:bg-gray-700 dark:touch:active:bg-gray-700 touch:active:bg-gray-200 transition-colors rounded-lg flex items-center justify-center cursor-pointer'
      >
        <Icon>
          <IconMenu />
        </Icon>
      </label>
    </aside>
  </div>
</header>