---
import { Icon } from './Icon'
import { IconBus } from './Icons'
import { links } from '@/lib/utils'
import { ToggleSidebar } from '@/components/ToggleSidebar'

interface Props { 
  pathname: string
}

const { pathname } = Astro.props
---

<header class='w-full h-navbar px-8 pl-4 bg-white text-gray-700 top-0 left-0 flex justify-center items-center'>
  <div class='h-full w-full max-w-screen-xl flex items-center ml:justify-center justify-between [&>*]:flex-1'>
    <aside class='h-full w-fit flex items-center'>
      <a href='/' class='h-fit max-h-full w-fit p-2 px-4 flex items-center justify-center gap-4'>
        <Icon class='size-8 text-orange-500'>
          <IconBus />
        </Icon>
        <strong class='text-nowrap text-xl w-fit max-w-full'>Berrutti</strong>
      </a>
    </aside>
    <nav class='h-full w-full flex-1 hidden ml:flex items-center justify-center'>
      {
        links.map(({ link, name }) => (
          <a
            href={link}
            class='hover:text-orange-500 transition-colors p-2 px-3'
          >
            <span class={link === pathname ? 'text-orange-500' : ''}>
              {name}
            </span>
          </a>
        ))
      }
    </nav>
    <aside class='h-full w-fit flex items-center justify-end gap-2'>
      <a href='/reserve' class='not-xs:hidden text-nowrap rounded-lg p-2 px-4 hover:bg-orange-50 text-orange-500 hover:text-gray-800 transition-colors border-orange-500 border'>Iniciar Sesión</a>
      <a href='/reserve' class='not-xs:hidden text-nowrap rounded-lg p-2 px-4 hover:bg-orange-600 bg-orange-500 text-white transition-colors'>Registrarse</a>
      <ToggleSidebar client:load />
    </aside>
  </div>
</header>