---
import { Track } from '@/components/tracking/Track'
import type { BusesData } from '@/env'
import { getBaseBusesData } from '@/services/busService'
import '@/styles/global.css'

export const prerender = false
const { location } = Astro.params
const [lat, lng] = location?.toString().split('/') ?? '/'

let busesData: BusesData = getBaseBusesData()
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.webp' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content='Web no oficial de Berrutti Turismo. Proyecto de fin de año' />
		<title>Seguir Ómnibus - Berrutti Turismo</title>
		<script src='../../lib/detectDeviceType.js'></script>
	</head>
	<body class='relative bg-gradient-to-br from-blue-50 to-orange-50 text-black h-full w-full'>
		<Track
			busesData={busesData}
			lat={Number(lat)}
			lng={Number(lng)}
			client:load
		/>
	</body>
</html>
