---
import Layout from '@/layouts/Layout.astro'
import { getRouteById } from '@/services/routeService'

const { id } = Astro.params
if (!id) {
	// esto no debería pasar por el redirect en la configuración de astro
	Astro.redirect('/routes/')
	return
}

let route
try {
	route = getRouteById(id)
} catch (err) {
	console.error(err)
}
---

<Layout title='Comprar boleto' stabilizeScrollbarGutter>
	<main class='max-w-screen-2xl px-6 mb-8 flex flex-col gap-4 dark:text-gray-300'>
		<section class='w-full h-fit pb-8 pt-20'>
			<h1 class='text-4xl font-bold text-center mb-4 dark:text-gray-50'>Compra de boletos</h1>
		</section>
	</main>
</Layout>