---
import { Icon } from '@/components/Icon'
import '../styles/global.css'
import { ThemeSelector } from '@/components/ThemeSelector'
import { IconArrowLeft } from '@/components/Icons'

interface Props {
	title: string
  headerTitle?: string
	class?: string
}

const { title, headerTitle, class: className = '' } = Astro.props

const themeCookie = Astro.cookies.get('berrutti-web-theme')
---

<html lang='es' data-theme={themeCookie?.value || 'system'}>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.webp' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content='Web no oficial de Berrutti Turismo. Proyecto de fin de año' />
		<title>{title ? `${title} - Berrutti Turismo` : title}</title>
		<script>
			(function() {
				let deviceType = localStorage.getItem('deviceType')
				if (deviceType) {
					document.body.classList.add(deviceType)
					return
				}
				
				const ua = navigator.userAgent
				const mobileRegex = /(Mobi|Android(?!.*Nexus 7)|iPhone|iPod|Windows Phone|BlackBerry|Symbian|IEMobile|Opera Mini|Fennec|webOS|hpwos|avantgo|bada|blazer|compal|elaine|hiptop|kindle|lge|maemo|midp|mmp|netfront|palm|phone|plucker|pocket|psp|series60|treo|up\.browser|up\.link|vodafone|wap|windows ce|xda|xiino)/i
				
				if (mobileRegex.test(ua) && !/iPad/i.test(ua)) {
					deviceType = 'is-mobile-ua'
				} else {
					deviceType = 'is-laptop-ua'
				}

				document.body.classList.add(deviceType)
				localStorage.setItem('deviceType', deviceType)
			})()
		</script>
		<script>
			(function() {
				const theme = document.cookie
					.split('; ')
					.find(c => c.startsWith('berrutti-web-theme='))
					?.split('=')[1] || 'system'
				document.documentElement.dataset.theme = theme
			})()
		</script>
	</head>
	<body class='relative bg-linear-to-b dark:bg-radial-[circle_at_50%_20%] from-blue-50 to-orange-50 text-black dark:from-gray-800 dark:to-gray-900'>
    <header class='w-full h-16 z-10 relative border-b-gray-200 border-b-[1px] px-8 bg-white text-gray-700 top-0 left-0 flex justify-between items-center [&_.icon]:max-h-10 dark:border-0 dark:bg-transparent'>
      <aside class='flex items-center justify-between gap-2 w-full'>
        <a
          href='/'
          class='flex text-sm font-semibold cursor-pointer items-center justify-center max-h-full h-fit w-fit p-3 px-4 hover:bg-gray-200 touch:active:bg-gray-200 transition-colors gap-2 rounded-lg bg-white dark:bg-transparent dark:text-gray-200 dark:hover:bg-gray-700 dark:touch:active:bg-gray-700'
        >
          <Icon class='size-5'>
            <IconArrowLeft />
          </Icon>
          <span class='us:inline hidden'>Volver</span>
        </a>
				<div class='w-fit h-fit'>
					<ThemeSelector listClass='top-13 right-0' client:load />
				</div>
      </aside>
    </header>
    <main class={`flex flex-col items-center ${className}`}>
			<slot />
		</main>
	</body>
</html>
