---
import { SideBar } from '@/components/SideBar'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import '../styles/global.css'

interface Props {
	title: string
	class?: string
}

const { title, class: className = '' } = Astro.props
const { originPathname: pathname } = Astro
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.webp' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content='Web no oficial de Berrutti Turismo. Proyecto de fin de año' />
		<title>{title ? `${title} - Berrutti Turismo` : title}</title>
		<script src='../lib/detectDeviceType.js'></script>
	</head>
	<body class='relative bg-linear-to-b dark:bg-radial-[circle_at_50%_20%] from-blue-50 to-orange-50 text-black dark:from-gray-800 dark:to-gray-900'>
		<Header pathname={pathname} />
		<SideBar pathname={pathname} client:idle />
		<main class={`flex flex-col items-center ${className}`}>
			<slot />
		</main>
		<Footer />
	</body>
</html>
