---
import { SideBar } from '@/components/SideBar'
import Navigation from '@/components/Navigation.astro'
import Footer from '@/components/Footer.astro'
import '../styles/global.css'

interface Props {
	title: string
}

const { title } = Astro.props
const { originPathname: pathname } = Astro
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.webp' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content='Web no oficial de Berrutti Turismo. Proyecto de fin de año' />
		<title>{title ? `${title} - Berrutti Turismo` : title}</title>
	</head>
	<body class='relative bg-gradient-to-br from-blue-50 to-orange-50 text-black'>
		<Navigation pathname={pathname} />
		<SideBar pathname={pathname} />
		<slot />
		<Footer />
	</body>
</html>

<script type='module'>
function detectDeviceType() {
	let deviceType = localStorage.getItem('deviceType')
	if (deviceType) {
		document.body.classList.add(deviceType)
		return
	}
	
	const ua = navigator.userAgent
	const mobileRegex = /(Mobi|Android(?!.*Nexus 7)|iPhone|iPod|Windows Phone|BlackBerry|Symbian|IEMobile|Opera Mini|Fennec|webOS|hpwos|avantgo|bada|blazer|compal|elaine|hiptop|kindle|lge|maemo|midp|mmp|netfront|palm|phone|plucker|pocket|psp|series60|treo|up\.browser|up\.link|vodafone|wap|windows ce|xda|xiino)/i
	const tabletRegex = /(iPad|Android(?!.*mobile)|Kindle|Playbook|Silk|Tablet|hpw|webos|Nexus 7)/i

	if (mobileRegex.test(ua) && !/iPad/i.test(ua)) {
		deviceType = 'is-mobile-ua'
	} else if (tabletRegex.test(ua)) {
		deviceType = 'is-tablet-ua'
	} else {
		deviceType = 'is-laptop-ua'
	}

	document.body.classList.add(deviceType)
	localStorage.setItem('deviceType', deviceType)
}

detectDeviceType()
</script>