---
import { SideBar } from '@/components/SideBar'
import Navigation from '@/components/Navigation.astro'
import Footer from '@/components/Footer.astro'
import '../styles/global.css'

interface Props {
	title: string
}

const { title } = Astro.props
const { originPathname: pathname } = Astro
---


<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.webp' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content='Web no oficial de Berrutti Turismo. Proyecto de fin de año' />
		<title>{title ? `${title} - Berrutti Turismo` : title}</title>
		<script src='../lib/detectDeviceType.js'></script>
	</head>
	<body class='relative bg-gradient-to-br from-blue-50 to-orange-50 text-black'>
		<Navigation pathname={pathname} />
		<SideBar pathname={pathname} client:load />
		<slot />
		<Footer />
	</body>
</html>
